// helpers Tooltips //
.tooltips_wrapper{
    background-color: rgba(129, 113, 113, 0.281);
    height:100vh;
    text-align: center;

    h1{
        font-size:23px;
        padding: 10px;
        text-align: center;
    }

    .tooltips__helper__grid{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 20px;
        width: 80%;
        margin: 20px auto;
    }
}
 
  
  
    