// helpers 

//  tooltips_section //
.tooltips_section{
    background-color: rgba(129, 113, 113, 0.281);
    padding: 20px 0;
    text-align: center;

    h1{
        font-size:23px;
        padding:0 0 10px;
        text-align: center;
    }
    // tooltips__helper
    .tooltips__helper{
        width: 80%;
        margin: 10px auto;
        border: 1px solid black;
        padding: 20px 0;


        // Tooltips wrappr //
        .tooltips_wrapper{
            position: relative;
            width: 80%;
            margin: 30px auto;
        
        }
    }
}
 
  
  
    