// helpers Tooltips //
.tooltips_wrapper{
    background-color: rgba(129, 113, 113, 0.281);
    text-align: center;

    h1{
        font-size:23px;
        padding: 10px;
        text-align: center;
    }

    .tooltips__helper__grid{
        width: 80%;
        margin: 0px auto;
        border: 1px solid black;
        padding: 20px 0;
    }
}
 
  
  
    