
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/**
  ============================================

  Only import scss file in this system

  ============================================
*/

// SIZE
@import "./sizes/major-sizes.scss";

// WRAPPERS
@import "./utils/wrapper.scss";

// MARGIN AND PADDINGS
@import "./utils/margin.scss";

@import "./utils/global.scss";
@import '../sass/colors/main-colors';
@import '../sass/colors/button-colors';
@import "./components/buttons/main-buttons";
@import "./components/margins/bigger-margins";
@import "./components/buttons/button-defaults.scss";
/**
  || GRID SECTIONS
*/
@import "./utils/grids.scss";
@import "./utils/grid_helper.scss";


@import '../sass/showcase_image/showcase__Area';
@import '../sass/reset/reset';
@import './showcase_image/Component';
@import './components/form/formInput';

/**
|| INPUT SECTION
*/
@import "./helpers/input.scss";
@import "../sass/colors/form-colors.scss";
@import "./components/inputs/input-widths.scss";
@import "./components/inputs/input-default.scss";


/**
|| CARD SECTION
*/
@import "./helpers/card_helper.scss";
@import "./components/cards/card.scss";



/**
|| CARD SECTION
*/
@import "./colors/all_colors.scss";



/**
|| FONT SIZES SECTION
*/
@import "../sass/sizes/font_sizes.scss";



/**
|| MEDIA QUERY
*/
@import "../sass/media_query/card_media-query.scss";

























