@import "../media_query/media_query.scss";

.input_section{
    width: 100%;
    background-color: $section-color;
    padding: 20px 50px;

    @include max_mobile {
        padding: 20px 15px;
    }

    div{
        margin-bottom: 20px;
        margin-top: 20px;
    }
}

.input_wrapper {
    max-width:300px;
    margin-right: 50px;

    @include max_mobile {
        margin-right: 0px;
    }
}

.input_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    @include max_mobile {
        display: block;
    }
}

.sub_heading {
    font-size: 1.1rem;
    font-weight: 400;
    color: rgb(85, 85, 85);
}