
@import "../media_query/media_query.scss";

.input_section{
    width: 100%;
    background-color: #f6f6f6ad;
    padding: 20px;

    div{
        margin-bottom: 20px;
        margin-top: 20px;
    }
}

.input_wrapper {
    max-width:300px;
    margin-right: 50px;

    @include mobile {
        margin-right: 0px;
    }
}
.input_container {
    display: flex;
    justify-content: space-evenly;
    @include mobile {
        display: block;
    }
}

.sub_heading {
    font-size: 1.1rem;
    font-weight: 400;
    color: rgb(85, 85, 85);
}