// helpers 

//  tooltips_section //
.tooltips_section{
    background-color: $section-color;
    padding: 20px 0;
    height: auto;
    
   
    // tooltips__helper
    .tooltips__helper{
        width: 100%;
        background-color: transparent;
        display: flex;


        // Tooltips wrappr //
        .tooltips_wrapper{
            position: relative;
            width: auto;
            display: flex;
            padding: 50px;
            flex-wrap: wrap;

            @include max_mobile {
                padding: 20px 15px;
            }
            
        }
    }
}
 
.bmr {
    margin: 10px 10px 10px 0;
}
  
    