// Tooltips wrappr //
.tooltips{
    position: relative;
    width: 80%;
    margin: 30px auto;


    // tooltips__hover ///
    .tooltips_hover{
     background: linear-gradient(100.56deg,blue 26%, rgba(0, 0, 255, 0.5));
     padding:5px;
     cursor: pointer;
     width: 70%;
     display: inline-block;
     color: $secondary-color;
     border-radius:10px;

 }
    &:hover .tooltips_inner{
     visibility: visible;
     opacity: 1;
     transition:all 0.3s ease-in-out;
  }


//    Default Tooltips //
 .tooltips_inner{
     visibility: hidden;
    //  text-align: center;
     color: $secondary-color;
     opacity: 0;
     transition:all 0.5s ease-in-out;
     margin:5px 0;
     box-sizing: border-box;
     position: absolute;
     min-width: 100%;
   
     p{
       display: inline-block;
       background-color: #555;
       padding:4px 13px;
       border-radius: 6px;
       position: relative;

     }

  
  }
}
 .tooltips_top{
     top:-140%;
 }

 .tooltips_tp_arrow{
  &::after{
   content:'';
   position: absolute;
   background-color: #555;
   height: 12px;
   width: 12px;
   left:50%;
   bottom: -3px;
   transform: rotate(45deg);
  }
}

 .tooltips_bottom{
     bottom: -140%;
  }
  .tooltips_bm_arrow{
    &::after{
      content:'';
      position: absolute;
      background-color: #555;
      height: 12px;
      width: 12px;
      top:-4px;
      left:50%;
      transform: rotate(45deg);
     }
  }
  .tooltips_left{
    top:-20%;
    left: -70%;
  }
  .tooltips_lf_arrow{
    &::after{
      content:'';
      position: absolute;
      background-color: #555;
      height: 12px;
      width: 12px;
      top:25%;
      left:73%;
      transform: rotate(43deg);
      
     }
  }
  .tooltips_right{
    top:-20%;
    right: -70%;
  }
  .tooltips_rg_arrow{
     &::after{
      content:'';
      position: absolute;
      background-color: #555;
      height: 12px;
      width: 12px;
      top:25%;
      right:76%;
      transform: rotate(43deg);
     }
  }
