// Tooltips wrappr //
.tooltips{
    position: relative;
    width: 80%;
    margin: 0 auto;


    // tooltips__hover ///
    .tooltips__hover{
     background: linear-gradient(100.56deg,blue 26%, rgba(0, 0, 255, 0.5));
     padding: 10px;
     cursor: pointer;
     width: 70%;
     display: inline-block;
     color: $secondary-color;
     border-radius:10px;

 }
    &:hover .tooltips__inner{
     visibility: visible;
     opacity: 1;
     transition:all 0.3s ease-in-out;
  }


//    Default Tooltips //
 .tooltips__inner{
     visibility: hidden;
     background-color: #555;
     text-align: center;
     padding:6px 12px;
     border-radius: 6px;
     color: $secondary-color;
     opacity: 0;
     transition:all 0.5s ease-in-out;
     margin:5px auto;
     width: 70%;
     position: relative;
    box-sizing: border-box;


  
 }
 .tooltips__top{
   top:-100%;
   transform: translateY(- calc(50% - 12px));
   
 }
 .tooltips__top__arrow{


   &::after{
    content:'';
    position: absolute;
    background-color: #555;
    height: 13px;
    width: 13px;
    left: 50%;
    bottom: -3px;
    transform: rotate(52deg);
   }
 }
 .tooltips__bottom{
     bottom: -5px;
  }
  .tooltips__left{
    top:0%;
    left:0%;
    transform: translate(-105%, -110%);
  }
  .tooltips__right{
    top:0%;
    right:0%;
    transform: translate(105%, -110%);
  }
}