$primary-color: black;
$secondary-color: white;
$component-color : #1B6CA8;
$lightGray-color: #F3F3F3;
$formBorderAqua-color :#A5D3F5;
$formTextAqua-color : #52A2DD;
$formTextLightGrey-color :#696969;
$formTextLightGrey-border:#999999;
$formTextLightGrey-bg:#F3F3F3;
$component-color : #2e6da4;
$lightGray-color: #F3F3F3;
$component-color-hover: #286090;
$success-color: #449d44;
$danger-color: #c9302c;
$danger-hover:#d9534f;
$success-color-hover:#4caf50;
$info-color:#5bc0de;
$info-hover-color:#31b0d5;
$warning-color:#ec971f;
$warning-hover-color: #F0AD4E;

