$primary-color: black;
$secondary-color: white;
$component-color : #0066ff;
$lightGray-color: #F3F3F3;
$component-color-hover: #124f7e;
$success-color: #2bb449;
$danger-color: #D100A3;
$success-color-hover:rgb(25, 151, 124);