



$black-color: black;
$secondary-color: white;
$component-color : #1B6CA8;
$lightGray-color: #F3F3F3;
$formBorderAqua-color :#A5D3F5;
$formTextAqua-color : #52A2DD;
$formTextLightGrey-color :#696969;
$formTextLightGrey-border:#999999;
$formTextLightGrey-bg:#F3F3F3;

// $light-color: #F3F3F3;

// normal color
$light : #fff;
$dark : #000;

// primary color
$primary-color : #444bf8;
$primary-color-hover: #262cee;
$primary-focus : #7fbcff;

// success color
$success-color: #00c9a6;
$success-color-hover:#07a78c;
$success-focus : #93d3a1;

// danger color
$danger-color: #f12459;
$danger-hover:#dd0d44;
$danger-outline:#ed99a1;
$danger-focus :#ed99a1;

// info color
$info-color: #2dd2f6;
$info-hover-color:#0fb4da;
$info-focus : #45b7d1;

// warning color
$warning-color:#ec971f;
$warning-hover-color: #d6830d;
$warning-outline:#f6d9b0;
$warning-focus: #ffe082;

// border color
$border-color : #b1b2b6;
$border-hover : #b8b8b8;
$border-outline : #b1b1b1;

// dark color
$light-gray: gray;
$dark-focus: #999c9f;
$dark-hover : #222;


// font color
$form-color : #959595;
$placeholder-color : #afafaf;