
// All the color variables are here


// link color
$link_color : #1B6CA8;

// border
$border_color : #ddd;

//paragraph color
$para_color : #4e4e4e;




























































































