.showcase__Area{
    height:27vh;
   
     &-img{
       background-image: url('/public/assets/img/bunch-of-camels-in-desert-dune-2222241.jpg');

       width: 100%;
       height:100%;
       background-repeat: no-repeat;
       background-size: cover;  
       padding: 10px 0 ;
       position: relative;
     
     
   
   
           &::after{
             content: '';
             position: absolute;
             top: 0;
             height: 100%;
             width: 100%;
             background: linear-gradient(100.56deg, rgba(27, 104, 174, 0.73) 26%, #D100A3 104.2%);
           }
       .creative__team{
           height: 200px;
           display: grid;
           grid-template-columns: repeat(2, 1fr);
           align-items: center;
           z-index: 1;
           position: relative;
           place-content: center;
           width:  85%;
           margin: 0 auto;
           font-family: 'Poppins';
           color:$secondary-color;
 
 
             .Ds_wrapper{
                 text-align: center;
                 .Ds{
                     background-color:  $primary-color;
                     padding: 10px;
                     display:grid;
                     place-content: center;
                     border-radius: 50%;
                     font-size: 35px;
                     height: 70px;
                     width: 70px;
                     margin: 0 auto;
                 }
             }
 
                 &-design-team {
                     display: flex;
                     justify-content: center;
                     align-items: center;

                     div{
                         position: relative;

                         &:after{
                             content: '';
                             position: absolute;
                             background: #FFFFFF;
                             border-radius: 1.5px;
                             width: 110px;
                             height: 2px;
                             bottom: 2px;
                             left:-20px;
                         }
                     }
 
                     p {
                         font-size: 16px;
                      }
           
                      img {
                         height: 40px;
                         width: 40px;
                         border-radius: 50%;
                         margin:0 10px;
                    }
                     
                 }
 
        }
      }
    
   }