.section__btn{
    background-color:$lightGray-color;
    margin:60px 0;
    padding:10px 0 ;


    &_wrap{
        width:  85%;
        margin:60px auto;

    h3{
            font-family: 'Poppins';
            font-style: normal;
            font-weight: normal;
            font-size: 28px;
            color: #1B6CA8;
    }
    p.btn_radius{
            font-family: 'Poppins';
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            padding: 8px 0;
            text-transform: uppercase;
    
            color: #1B6CA8;
    }
   
       &_flex{
            // height: 100px;
            display:flex;
            width:  100%;
            

            .btn_wrap{
                margin-right: 30px;
                align-self:center;

                p{
                    font-family: 'Poppins';
                    font-size: 18px;
                    padding: 10px 0;
                    color: #000000;
                    text-align: center;
        
                }
             

           

               
            }
    
            
        }
    }
    
}



  // ================== BUTTON STYLE ==================
  .lg_btn ,.lg-r_btn,  .lg-l_btn, .lg-s_btn,
  .md_btn, .md-r_btn,  .md-l_btn, .md-s_btn,
   .sm_btn, .sm-r_btn, .sm-l_btn, .sm-s_btn{
     background-color: $btn-color;
     color:$sbtnText-color;
     border-radius: 5.74615px;
     outline: block;
     border: none;
     font-family: 'Poppins';
     font-style: normal;
     font-weight: normal;
     text-align: center;
     
 }

 // ==================BUTTON ACTIVE==================
 .btn_active{
    border: 2px solid $active-btn;
 }

 //  ================== btn_hover ==================

 .btn_hover:hover{ 
    background-color: $btnHover;
 }

  //  ==================Button Disabled; =================
    .btn_disabled{
     background-color: $btnDisabled;
  }

        // =================BUTTONS WITH ICON===================
    .lg_btn i,.lg-r_btn i,  .lg-l_btn i, .lg-s_btn i,
    .md_btn i, .md-r_btn i,  .md-l_btn i, .md-s_btn i,
    .sm_btn i, .sm-r_btn i, .sm-l_btn i, .sm-s_btn i{
            padding-left: 5px;
            font-size: 15px;
    }
    

    //================== BORDER RADIUS BUTTON ==================
    .lg_btn,
    .lg-r_btn, 
    .lg-l_btn,
    .lg-s_btn {
        padding:15px 17px;
    }
    .md_btn,  
    .md-r_btn, 
    .md-l_btn ,
    .md-s_btn {
        padding: 12px 15px;
    }
    .sm_btn, 
    .sm-r_btn ,
    .sm-l_btn,
    .sm-s_btn {
        padding: 10px 12px;
    }

    //================== ROUNDED BUTTON WITH BACKGROUND COLOR ==================
    .lg-r_btn ,
    .md-r_btn ,
    .sm-r_btn{
        border-radius: 30.6462px;
    }


    //  ================== BORDER RADIUS NO BAKGROUND COLOR==================
    .lg-l_btn ,
    .md-l_btn ,
    .sm-l_btn{
        background-color:unset;
        border: 0.638462px solid  $btn-color;
        color: $btn-color;
    }

    //  ================== ROUN DED BUTTON RADIUS NO BAKGROUND COLOR==================
    .lg-s_btn, .md-s_btn, .sm-s_btn{
        border-radius: 30.6462px;
        background-color:unset;
        border: 0.638462px solid  $btn-color;
        color: $btn-color;
    }

    //================== ICON BUTTON ==================
    .ico-sm-l_btn ,  .ico-sm-r_btn{
        background-color: $btn-color;
        color:$sbtnText-color;
        border-radius: 5.74615px;
        outline: block;
        border: none;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: normal;
        text-align: center;
        font-size: 20px;
        height: 40px;
        width: 40px;
        text-align:center;
    
    }
    .ico-sm-r_btn{
        border-radius: 50%;
    }

    .ico-sm-l_btn{
        border-radius: 5.74615px;
    }
