/**
  DEFAULTS
**/

.btn {
  display: inline-block;
  padding: .5rem .75rem;
  outline: none;
  border: 1px solid $btnDefaultColor;
  // min-width: 100px;
  font: inherit;
  font-size: inherit;
  font-family: inherit;
  border-radius: 6px;
  box-shadow: 0px 0px 3px $btnDefaultColor;
  cursor: pointer;
  appearance: button;
  -webkit-appearance: button;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  @include default_transition();
  &.btn_full_w{
    @include full_w()
  }
}

.btn__hover:hover{
  background-color: $btnDefaultColorHover;
}

.btn__primary{
  background-color: $component-color;
  color: $secondary-color;

  &.btn__hover:hover{
    background-color: $component-color-hover
  }
}

.btn__success{
  background-color: $success-color;
  color: $secondary-color;

  &.btn__hover:hover{
    background-color: $success-color-hover
  }
}


.btn__danger{
  background-color: $danger-color;
  color: $secondary-color;

  &.btn__hover:hover{
    background-color: $success-color-hover
  }
}

// BTN SIZE
.btn__md{
  padding: .6rem .85rem;
  min-width: 100px;
  font-size: 110%;
}

.btn__lg{
  padding: .8rem 1rem;
  min-width: 120px;
  font-size: 115%;
}