/**
  DEFAULTS
**/

.btn {
  box-sizing: border-box;
  display: inline-block;
  padding: .5rem .80rem;
  outline: none;
  border: 2px solid transparent;
  min-width: 100px;
  font:inherit;
  font-size: inherit;
  font-family: inherit;
  border-radius: 6px;
  box-shadow: 0px 0px 3px $btnDefaultColor;
  cursor: pointer;
  appearance: button;
  -webkit-appearance: button;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  @include default_transition();
  &.btn_full_w{
    @include full_w()
  }
  &:focus{
    box-shadow: 0px 0px 0px 2px $btnDefaultColor;
    box-sizing: border-box;
  }
}

// BTN SIZE ELG
.btn__ex__lg{
    padding: .7rem 1.1rem;
    min-width: 150px;
    font-size: 135%;
  }

// BTN SIZE LG
 .btn__lg{
      padding: .6rem 1rem;
      min-width: 140px;
      font-size: 125%;
  }
  // BTN SIZE MD
  .btn__md{
      padding: .5rem .8rem;
      min-width: 130px;
      font-size: 115%;
  }
  //  BTN SIZE SM
  .btn__sm{
      padding: .4rem .5rem;
      min-width: 110px;
      font-size: 109%;
  }

  // BTN SIZE EXSM
  .btn__ex__sm{
    padding: .3rem .4rem;
    min-width: 100px;
    font-size: 100%;
    
  }



//======================= Default Hovering Effect==========================
.btn__hover:hover{
  background-color: $btnDefaultColorHover;
}

//======================= Reset Border  ==========================
.btn__reset__border{
  border-radius: unset!important;
}
// <================ Button Radius  Global Styling here   ========================>
.btn__round__primary, .btn__round__warning, .btn__round__success, .btn__round__danger, .btn__round__info{
  background-color: unset;
  color: $black-color;
  border-radius: 23.8154px;

  &:focus{
    border-radius: 23.8154px;
    // border: 1px solid transparent;
  }
}


// <================  BORDER Round  Global Styling here ========================>
.btn__border__primary, .btn__border__warning,  .btn__border__success, .btn__border__danger, .btn__border__info{
  background-color: unset;
  color: $black-color;
  border-radius: 10px;

  &:focus{
    border-radius: 10px;
  }
}


.btn__primary{
   background-color:$primary-color;
   color: $secondary-color;

    &.btn__hover:hover{
      background-color: $primary-color-hover;
    }
    &:focus{
      box-shadow: 0px 0px 0px 2px #122b40;

    }

}
// Button Radius and BORDER
.btn__round__primary, .btn__border__primary{
  border: 2px solid $component-color;

  &.btn__hover:hover{
    background-color: $primary-color-hover;
    color:$secondary-color!important;
  }
  &:focus{
    box-shadow: 0px 0px 0px 2px #122b40;
  }
}


.btn__success{
  background-color: $success-color;
  color: $secondary-color;

  &.btn__hover:hover{
    background-color: $success-color-hover;
  }
  &:focus{
    box-shadow: 0px 0px 0px 2px #255625;
  }
}
// Button Radius and BORDER
.btn__round__success, .btn__border__success{
  border: 2px solid  $success-color;

  &.btn__hover:hover{
    background-color:$success-color;
    color:$secondary-color!important;
  }
  &:focus{
    box-shadow: 0px 0px 0px 2px #255625;
  }
}


.btn__warning{
   background-color: $warning-color;
   color: $secondary-color;

   &.btn__hover:hover{
    background-color:$warning-hover-color; 
  }
  &:focus {
    box-shadow: 0px 0px 0px 2px#985f0d;
  }
}
// Button Radius and BORDER
.btn__round__warning, .btn__border__warning{
  border: 2px solid  $warning-color;

  &.btn__hover:hover{
    background-color: $warning-color;
    color:$secondary-color!important;
  }
  &:focus{
    box-shadow: 0px 0px 0px 2px #985f0d;
  
  }
}



.btn__info{
  background-color: $info-color;
  color: $secondary-color;

  &.btn__hover:hover{
    background-color:  $info-hover-color;
  }
  &:focus{
    box-shadow: 0px 0px 0px 2px#1b6d85;
  }
      
}
// Button Radius and BORDER
.btn__round__info, .btn__border__info{
  border: 2px solid $info-color;

  &.btn__hover:hover{
    background-color: $info-color;
    color:$secondary-color!important;
  }
  &:focus{
    box-shadow: 0px 0px 0px 2px #1b6d85;;
  
  }
}




.btn__danger{
  background-color:$danger-color;
  color: $secondary-color;

  &.btn__hover:hover{
    background-color:$danger-hover;
  }
  &:focus {
    box-shadow: 0px 0px 0px 2px#761c19;
  }
}
// Button Radius and BORDER
.btn__round__danger, .btn__border__danger{
  border: 2px solid $danger-color;

  &.btn__hover:hover{
    background-color: $danger-color;
    color:$secondary-color!important;
  }

  &:focus{
    box-shadow: 0px 0px 0px 2px #761c19;
  
  }
}







// .btn_rad{
//   border-radius: 23.8154px
// }
