
// Desktop
$larger-desktop : 1500px;
$medium-desktop : 1100px;
$tablet : 869px;
$mobile : 450px;


@mixin mobile {
    @media (min-width : $mobile) {
        @content;
    }
}

@mixin tablet {
    @media (min-width : $tablet) {
        @content;
    }
}

@mixin medium-desktop {
    @media (min-width : $medium-desktop) {
        @content;
    }
}




























