
@import '../colors/main-colors';
// Font sizes for different text element;

// h1
.header1 {
    font-size: 65px;
    font-weight: 300;

}

//h2
.header2 {
    font-size: 55px;
    font-weight: 300;

}

//h3
.header3 {
    font-size:45px ;
    font-weight: 300;
}

//h4
.header4 {
    font-size: 35px;
    font-weight: 300;

}

//h5
.header5 {
    font-size: 25px;
    font-weight: 300;
}

//h6
.header6 {
    font-size: 18px;
    font-weight: 300;
}


// light text
.lgt_txt {
    font-weight: 100;
}

p {
    line-height: 22px;
    font-weight: 400;
    font-size: 1rem;
}


.normal_txt {
    color: inherit;
    font-size: 1rem;
}

.muted {
    color: $muted;
    font-size: 1rem;
}

// BORDER RADIUS 

.br3 {
    border-radius: 3px;
}

.br4 {
    border-radius: 4px;
}

.br5 {
    border-radius: 5px;
}

.br6 {
    border-radius: 6px;
}

.br7 {
    border-radius: 7px;
}

.br8 {
    border-radius: 8px;
}

.br9 {
    border-radius: 9px;
}

.br10 {
    border-radius: 10px;
}

.br11 {
    border-radius: 11px;
}

.br12 {
    border-radius: 12px;
}




















































































