    .section__btn_wrap{
        width:  100%;
        padding: 50px;
    
   //  Responsivenes fo Tablet Size
        // @include TablelSize{
        //   width:  85%;
        //   margin:40px auto ;
        // }
           //  Responsivenes fo Tablet Size

        .btn_flex_wrap{
          @include medium-desktop {
            display:block!important;
            grid-template-columns:unset!important;

            button{
              margin: 10px 5px;
            }
          }  
        }

     
        p.btn_radius{
            font-family: 'Poppins';
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            padding: 8px 0;
            text-transform: uppercase;
            color: #1B6CA8;
            margin:40px auto 0;
         }
   
    
    }
    