
@import '../media_query/media_query.scss';

.bg-color {
    background-color: white;
}

.cards__wrapper {
    padding: 15px; 
    max-width: 1200px;
    margin: 30px;

   @include tablet {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-gap: 20px;
   }
   @include medium-desktop {
    grid-template-columns: repeat(3, 1fr);
}

}

// .own_st {
//     margin: 10px;

// }


// .lengthed-wrapper {
//     margin: 12px;
// }

.header {
    color: #3a3a3a;
    font-size: 22px;
    font-weight: 400;
    padding: 0px 0px 10px 0px;
}
.head {
    margin-left: 50px;
    padding: 16px 0 0 0 
}
























































































