.cards__wrapper {
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(3, 1fr,);
    grid-gap: 22px;
}

.own_st {
    margin: 10px;

}


// .lengthed-wrapper {
//     margin: 12px;
// }



























































































