.scroll_snaps{
    height: auto;
    width: 100%;
    margin: 0 auto;

    .scroll_snaps_container{
        display: grid;
        grid-template-columns: repeat(6, 30%);
        grid-gap:13px;
        scroll-snap-type:x mandatory;
        overflow-x: scroll;
        margin: 30px 0;
    }

    .scroll_snaps_item{
        scroll-snap-align: start;
        background-color: $primary-color ;
        height: 200px;
        width: 100%;
    }
}

.c-txt {
    text-align: center;
    color: white;
    font-size: 16px;
    padding: 50px;
}