

// .inp_full_w-20 {
//     width: 80%;
//   }
  
// .inp_full_w-40 {
//     width: 60%;
//   }
  
//  .inp_full_w-60 {
//     width: 40%;
//   }
  
//  .inp_full_w-80 {
//     width: 20%;
//   }

.input{
    display: flex;
    width: 300px;
    align-items: center;
    justify-content: center;
    // box-shadow: 0px 0px 6px 2px $shadow-color;
    padding: 0px;
    border: 1px solid #ddd; 
    @include default_transition();
    border-radius: 3px;

    input{
        border: 0;
        width: 100%;
        height: 100%;
        font-size: 1.2rem;
        padding: 12px 15px;
        color: #777777;
        background-color: transparent;
        font-family: inherit;
    }
    input:focus {
        border : 1px solid rgb(89, 135, 221);
    }

    span,
    i{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 80px;
        color: $light-gray;
        @include default_transition();
    }

    &:hover{
        border: 1px solid lightgreen;
    }
    // &:focus
}

.icon-bg{
    width: 200px;
    height: 100%;
    background-color: rgb(179, 179, 179);
    color: rgb(255, 255, 255) !important;
    border-radius: 0px;
}