
// INPUT MIXINS
@mixin border {
    border: 1px solid $border-color; 
}
@mixin transition {
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}


// DEFAULT INPUT

.form_input  {
    width: 100%;
    border-radius: 3px;
    display: block;
    background-clip: padding-box;
    padding: 10px;
    line-height: 1.5;
    color: $light-gray;
    font-weight: 300;
    background-color: $light;
    font-family: inherit;
    @include border;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;

    
    &::placeholder {
        color: $placeholder-color;
        padding-left: 2px;
    }
    &:focus {
        box-shadow:0px 0px 1px 1.5px $success-focus; 
    }
}


.input_wrap {
    display: flex;
    width: auto;
    align-items: center;
    justify-content: center;
    padding: 0px;
    @include border;
    @include default_transition();
    border-radius: 3px;
    background-color: transparent;

    & input {
        border: none;
    }
    & span {
        padding:0px 12px;

        & i {
            color: $border-color;
            font-size: 18px;
            transition: color 0.15s ease-in-out;
            cursor : pointer;

            &:hover {
                color:$light-gray;
            }
        }
    }  
    &:focus {
        box-shadow:0px 0px 1px 1.5px $success-focus; 
    }
}


// ROUNDED INPUT
.rounded_input {
    display: flex;
    width: auto;
    align-items: center;
    justify-content: center;
    padding: 0px;
    border-radius: 60px;
    @include border;
    @include default_transition();
    border-radius: 60px;
    background-color: transparent;

    & input {
        border: none;
        border-radius: 60px;
    }
    & span {
        padding:0px 15px;

        & i {
            color: $border-color;
            font-size: 18px;
            transition: color 0.15s ease-in-out;
            cursor : pointer;

            &:hover {
                color:$light-gray;
            }
        }
    }
}
   

// .icon-bg{
//     width: 200px;
//     height: 100%;
//     background-color: rgb(179, 179, 179);
//     color: rgb(255, 255, 255) !important;
//     border-radius: 0px;
// }

// .inp_full_w-20 {
//     width: 80%;
//   }
  
// .inp_full_w-40 {
//     width: 60%;
//   }
  
//  .inp_full_w-60 {
//     width: 40%;
//   }
  
//  .inp_full_w-80 {
//     width: 20%;
//   }

// input{
//     border: 0;
//     width: 100%;
//     height: 100%;
//     font-size: 1.2rem;
//     padding: 7px 15px;
//     color: #777777;
//     background-color: transparent;
//     font-family: inherit;
// }

