.input{
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 6px 2px $shadow-color;


    input{
        border: 0;
        width: 100%;
        height: 100%;
        font-size: 1rem;
        letter-spacing: 1px;
        color: $placeholder-color ;
        background-color: transparent;
        @include default_transition();

        &::placeholder{
            font-size: 1rem;
            letter-spacing: 1px;
            color: $placeholder-color;
        } 
    }

    span,
    i{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 80px;
        color: $light-gray;
        @include default_transition();
    }

    &:hover{
        border: 1px solid lightgreen;
    }
    // &:focus
}

.icon-bg{
    width: 200px;
    height: 100%;
    background-color: gray;
    color: rgb(255, 255, 255) !important;
    border-radius: 5px;
}