.input{

    box-shadow: 0px 0px 6px 2px $shadow-color;
    border: 0px 0px 0px 1px 1px lightgray;
    background: white;
    height: 2rem;
    padding: 20px;
    position: relative;

   

        input{
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            border:none;     
            padding: 13px 0 0 12px;    
            outline: none;
            background: transparent;

            font-size: 1rem;
            color: $text-color;
            letter-spacing: 1px;

        &::placeholder{
            font-size: 1rem;
            padding: 4px;
            letter-spacing: 1px;
            color: $placeholder-color;
        }   
    }

    // &:focus{
    // }

}
