.input{
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 6px 2px $shadow-color;
    
    @include default_transition();



    input{
        border: 0;
        width: 100%;
        height: 100%;
        background-color: transparent;

        &::placeholder{
            font-size: 1rem;
            padding-left: 6px;
            letter-spacing: 1px;
            color: $placeholder-color;
        } 
    }

    span,
    i{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 10%;
        color: $light-gray;
    }

    // &:focus{
    //     background-color: greenyellow !important;
    // }
}